.rt-features-v1 {
  padding-bottom: var(--_gaps---section-text-gap);
}

.rt-features-v1-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.rt-features-v1-left {
  grid-column-gap: 2.8125rem;
  grid-row-gap: 2.8125rem;
  background-color: var(--dark-indigo);
  flex-flow: column;
  max-width: 39.375rem;
  padding: 3.75rem;
  display: flex;
}

.rt-features-v1-left.rt-border-radius-l.rt-right {
  padding-bottom: 2.8rem;
}

.rt-features-v1-inner-heading {
  flex-flow: column;
}

.rt-features-v1-inner-image {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.rt-features-v1-inner-image-over {
  width: 83%;
  position: absolute;
  top: 50%;
}

.rt-features-v1-inner-image-inner {
  width: 100%;
  overflow: hidden;
}

.rt-features-v1-inner-image-2 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.rt-features-v1-right-image {
  z-index: 12;
  width: 79%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rt-features-v1-top {
    max-width: 46.4rem;
  }

.rt-features-v1-inner-image-over {
    width: 413px;
  }

.rt-features-v1-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

.rt-features-v1-left {
    grid-column-gap: 2.1875rem;
    grid-row-gap: 2.1875rem;
    padding: 1.25rem .9375rem;
  }

.rt-features-v1-left.rt-border-radius-l.rt-right {
    padding-bottom: 1.25rem;
  }

.rt-features-v1-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

.rt-features-v1-wrapper {
    grid-template-columns: 1fr;
  }

